@font-face {
    font-family: 'MyFont';
    src: url('./font-one.otf') format('otf'),
        url('./font-two.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./my-image.jpg');
}
